<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.novit.moeslemapplication">

    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_depan"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_depan_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".SplashActivity"
            android:theme="@style/splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".HalalApp"
            android:label="Info Halal"
            android:parentActivityName=".HalalApp"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".SholatApp"
            android:label="Jadwal Sholat"
            android:parentActivityName=".SholatApp"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".DoaApp"
            android:label="Doa Harian"
            android:parentActivityName=".DoaApp"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".DoaAdapter"
            android:label="Doa Harian"
            android:parentActivityName=".DoaAdapter"
            android:theme="@style/AppTheme" />


    </application>

</manifest>